* {
    background-image: linear-gradient();
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo {
    margin: 6px;
    padding-top: 10px;
    width: 30%;
}

.principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.txtArea1 {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder { color: #0A3871; }
    .txtArea1:focus {
        outline: none;
    }


.txtArea2 {
    background: white;
    background-image: url(./img/High\ quality\ products\ 1\ 1.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.txtArea2:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

.btnDesencriptografar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btnEncriptografar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btnCopiar {
    border: 1px #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 1087px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
}

.informacao {
    color: #495057;
    font-size: 18px;
}

